<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cobaltevents">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- TODO: Add other permissions as needed -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.CobaltEvents">

        <activity android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TODO: Register all activities -->
        <activity android:name=".ui.EntrantActivity" />
        <activity android:name=".ui.EntrantEditActivity" />
        <activity android:name=".ui.EventListActivity" />
        <activity android:name=".ui.EventDetailActivity" />
        <activity android:name=".ui.EventCreateActivity" />
        <activity android:name=".ui.OrganizerActivity" />
        <activity android:name=".ui.EventManageActivity" />
        <activity android:name=".ui.QRScanActivity" />
        <activity android:name=".ui.admin.AdminActivity" />
        <activity android:name=".ui.admin.AdminEventListActivity" />
        <activity android:name=".ui.admin.AdminProfileListActivity" />
        <activity android:name=".ui.admin.AdminImageListActivity" />

        <!-- TODO: Add Google Maps API key meta-data if using maps -->

    </application>
</manifest>
